.App {
  text-align: center;
}

h1 {
  font-size: 2em;
}

a {
  color: #e57656;
  text-decoration: none;
}

a:hover {
  color: #f38869;
}

.App-header {
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #20232a;
}
